<a href="https://colab.research.google.com/github/CogPsychCoding/psych138files/blob/main/Lectures/Lecture11/Lecture11_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
import random

# Lecture 11

- Dictionaries contain key-value pairs. Keys are like a list's indexes.
- Dictionaries are mutable. Variables hold references to dictionary values, not the dictionary value itself.
- <font color="red">Dictionaries are unordered. There is no "first" key-value pair in a dictionary.</font> (True only for Python 3.6 and below, ordered for 3.7+)
- The keys(), values(), and items() methods will return list-like values of a dictionary's keys, values, and both keys and values, respectively.
- The get() method can return a default value if a key doesn't exist.
- The setdefault() method can set a value if a key doesn't exist.
- The pprint module's pprint() "pretty print" function can display a dictionary value cleanly. The pformat() function returns a string value of this output.

In [ ]:
people = [['Travis', 53],['Jen', 51],['Leo', 11],['Isaac', 16]]

found_it = False
for name, age in people:
    if name == 'Leo':
        print(f'{name=} {age=}')
        found_it = True

if not found_it:
    print('I do not have Leo in database')

name='Leo' age=11

In [ ]:
people = {
    'Travis': 53,
    'Jen': 51,
    'Leo': 11,
    'Isaac': 16
}

people['Isaac'] = 15.8
people['Fluffy'] = 4

print(people['Jan'] if 'Jan' in people else None)

print(people)

del people['Fluffy']

print('Isaac' in people)
print('Fluffy' in people)

people

None
{'Travis': 53, 'Jen': 51, 'Leo': 11, 'Isaac': 15.8, 'Fluffy': 4}
True
False

{'Travis': 53, 'Jen': 51, 'Leo': 11, 'Isaac': 15.8}

In [ ]:
if 'Leo' in people:
    print(people['Leo'])
else:
    print('blah blah not here')

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]
other = ['a', 'b', 'c']

for a, b, c in zip(names, data, other):
    print(a, b, c)

me 34 a
you 33 b
them 33 c

In [ ]:
people = [['Travis', 53],['Jen', 51],['Leo', 11],['Isaac', 16]]
d = dict(people)

print(d)

{'Travis': 53, 'Jen': 51, 'Leo': 11, 'Isaac': 16}

In [ ]:
d2 = dict(zip(names, data))
d2

{'me': 34, 'you': 33, 'them': 33}

In [ ]:
d3 = {}
d3['one'] = 1
d3['two'] = 2

In [ ]:
print(people)
print(people.items())
for item in people.items():
    print(item)
for key, value in people.items():
    print(f'key = {key}; value = {value}')

{'Travis': 53, 'Jen': 51, 'Leo': 11, 'Isaac': 15.8}
dict_items([('Travis', 53), ('Jen', 51), ('Leo', 11), ('Isaac', 15.8)])
('Travis', 53)
('Jen', 51)
('Leo', 11)
('Isaac', 15.8)
key = Travis; value = 53
key = Jen; value = 51
key = Leo; value = 11
key = Isaac; value = 15.8

In [ ]:
print(people.keys())

'Travis' in people

dict_keys(['Travis', 'Jen', 'Leo', 'Isaac'])

True

In [ ]:
print(people.values())

dict_values([53, 51, 11, 15.8])

In [ ]:
for key in sorted(people.keys()):
    print(people[key])

15.8
51
11
53

# Python dictionaries

- literal
- build explicit
    - add
    - del
- build with code using `zip` and `dict`
- retrieving with `get` when default needed
    - easier with `collections.defaultdict`

## Counting Stuff Manually

- later we'll see that Python has a built-in facility for this already

In [ ]:
rand_list = []
for i in range(100):
    rand_list.append(random.randint(1,12))

print(rand_list)

[9, 1, 10, 2, 12, 10, 10, 1, 12, 4, 3, 1, 1, 4, 9, 10, 8, 4, 10, 3, 1, 4, 6, 3, 8, 9, 4, 9, 4, 12, 7, 3, 2, 9, 10, 1, 5, 12, 3, 11, 9, 4, 5, 10, 3, 1, 7, 3, 7, 5, 3, 10, 5, 12, 11, 5, 10, 5, 2, 6, 1, 6, 3, 5, 4, 4, 2, 11, 4, 12, 10, 4, 7, 4, 5, 9, 2, 11, 9, 12, 4, 12, 5, 12, 7, 2, 9, 3, 5, 5, 6, 11, 10, 4, 2, 9, 7, 2, 2, 6]

In [ ]:
counts = {}

for i in rand_list:
    if i in counts:
        counts[i] += 1
    else:
        counts[i] = 1

print(counts)
print(sum(counts.values()))

{9: 10, 1: 8, 10: 11, 2: 9, 12: 9, 4: 14, 3: 10, 8: 2, 6: 5, 7: 6, 5: 11, 11: 5}
100

In [ ]:
counts = {}

for i in rand_list:
    if i in counts:
        # use dict.get with a default

print(counts)
print(sum(counts.values()))