<a href="https://colab.research.google.com/github/CogPsychCoding/psych138files/blob/main/Lectures/Lecture3/Lecture3_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 3

## Ideas Not Highlighted Last Time

- PEMDAS and PEDMAS are both correct
    - MD or DM
    - AS or SA
    - Whichever comes first
- Talk briefly about mutablity, as in, the types of values we've talked about so far are all immutable!
- Value assignment and reassignment in Python
- what happens when 2 names point to the same value
    - partial; more later when we talk about mutable types
- Spaces in Python (vs how other languages do it), e.g., in functions, for defining **Code Blocks**

In [5]:
 a = 6.87
 a = a + 2

 print(a)

8.870000000000001

In [8]:
a = "Serenity"
a = a + "!"
print(a)

Serenity!

In [9]:
a = 6
b = a
a = 12
print(a, b)

12 6

In [1]:
# I'll run through Thonny to step through

5 + (4 - 2) / 2 ** 2 * 4
# 5 + 4 * (4 - 2) / 2 ** 2
# 5 + 4 * (4 - 2 + 1) / 2 ** 2

7.0

## What Students Learned from Book

- Boolean Values 32
- Comparison Operators 33
- Boolean Operators 35
- Binary Boolean Operators 35
- The not Operator  36
- Mixing Boolean and Comparison Operators 36

## What Students Learned from Video

The Boolean data type has only two values: `True` and `False` (both beginning with capital letters).
Comparison operators compare two values and evaluate to a Boolean value: `==, !=, <, >, <=, >=`
== is a comparison operator, while = is the assignment operator for variables.
Boolean operators (`and, or, not`) also evaluate to Boolean values. Truth Table (`and or`).

## Reminders

- '=' != '=='s but is a common mistake `(e.g, a = "hello" instead of a == "hello")`

In [11]:
a = 6
a == 6

True

## Bogus Choice RT Detector

Based on know limits

- inclusive
- exclusive
- partially inclusive

In [20]:
too_fast = 150  # ms
too_slow = 550  # ms
RT = 100  # ms

print(RT < too_slow and RT > too_fast)

False

## Outlier Detector

- More formal approach based on degree of deviation from the population or sample mean

In [31]:
mean = 568  # ms
stdev = 64.2  # ms
mult = 3.0

RT = 550

print(mean + mult * stdev)
RT > mean + mult * stdev

760.6

False

In [32]:
print(mean - mult * stdev)
RT < mean - mult * stdev

375.4

False

In [34]:
RT > mean + mult * stdev or RT < mean - mult * stdev

False

In [35]:
(mean - mult * stdev) < RT < (mean + mult * stdev)

True

## Odd Number Detector Using % Operator (Mod)

In [55]:
bool(15 % 2)

True

## What Else Is Truthy?

- None
- Empty String
- Empty Iterable (we've only learned strings so far)
- Numbers
- Actualy the previous 3 entries could be summarized as "any type or object in Python can be Truthy relative to an initialized version"

In [65]:
a = 0
m = 0
print('force =', m * a)

force = 0

age = 22

In [69]:
age = 22

print(age > 21 and age < 56 and age != 36)
print(age > 21 and age < 56 and not age == 36)

21 < age < 56 and age != 36

True