<a href="https://colab.research.google.com/github/CogPsychCoding/psych138files/blob/main/Lectures/Lecture12/Lecture12_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
import random

# Lecture 12

- Dictionaries contain key-value pairs. Keys are like a list's indexes.
- Dictionaries are mutable. Variables hold references to dictionary values, not the dictionary value itself.
- <font color="red">Dictionaries are unordered. There is no "first" key-value pair in a dictionary.</font> (True only for Python 3.6 and below, ordered for 3.7+)
- The keys(), values(), and items() methods will return list-like values of a dictionary's keys, values, and both keys and values, respectively.
- The get() method can return a default value if a key doesn't exist.
- The setdefault() method can set a value if a key doesn't exist.
- The pprint module's pprint() "pretty print" function can display a dictionary value cleanly. The pformat() function returns a string value of this output.

### Without Dicts

In [ ]:
# find Leo and print his age
# update Leo
# Remove Elaine

people = [['Travis', 53],['Jen', 51],['Leo', 11],['Isaac', 16], ['Elaine', 6]]

found_age = False

for name, age in people:
    if name == 'Leo':
        print(f'{age=}')
        found_age = True

if not found_age:
    print(f'Jennifer is not in the database!')

age=11

### With Dicts

In [ ]:
# find Leo and print his age
# update Leo
# Remove Elaine

people = [['Travis', 53],['Jen', 51],['Leo', 11],['Isaac', 16], ['Elaine', 6]]
people = dict(people)
people

{'Travis': 53, 'Jen': 51, 'Leo': 11, 'Isaac': 16, 'Elaine': 6}

In [ ]:
if 'Leo' in people:
    print(people['Leo'])
else:
    print('Leo is not in db')

people['Leo'] = people['Leo'] + 2
del people['Elaine']
people

14

{'Travis': 53, 'Jen': 51, 'Leo': 16, 'Isaac': 16}

### Creating Lists of Tuples

Useful for looping without creating temporary data copies

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]

for next_list in (names, data):
    print(math.stdev(next_list))

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]

combined = zip(names, data)

for name, datum in combined:
    print(name, data)

me [34, 33, 33]
you [34, 33, 33]
them [34, 33, 33]

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]
other = [1,2,3]

list(zip(names, data, other))

[('me', 34, 1), ('you', 33, 2), ('them', 33, 3)]

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]

# dont do this
for i in range(len(names)):
    print(f'{names[i]} {data[i]}')

# do this
combined = zip(names, data)
for name, datum in combined:
    print(name, data)

a, b = [2, 3]

# even better
for name, datum in zip(names, data):
    print(name, data)

me 34
you 33
them 33

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]
other = ['a', 'b', 'c']

### Useful for creating dicts as well

In [ ]:
people = [['Travis', 53],['Jen', 51],['Leo', 11],['Isaac', 16]]

In [ ]:
names = ['me', 'you', 'them']
data =  [34,    33,     33]
other = ['a', 'b', 'c']

dict(zip(names, data))

{'me': 34, 'you': 33, 'them': 33}

### Creating dicts manually

In [ ]:
d3 = {'one': 1, 'two': 2, 'three': 3}
print(d3['three'])

d4 = {}
d4['one'] = 1
d4['two'] = 2
d4['three'] = 3
d4['three'] = 33

print(d4)

3
{'one': 1, 'two': 2, 'three': 33}

### dict componenets

keys, values, and items

In [ ]:
d3 = {'one': 1, 'two': 2, 'three': 3}
for key, value in d3.items():
    print(f'{key} = {value}')
print()
for key in d3: # aka d3.keys():
    print(f'{key}={d3[key]}')
print()
for value in d3.values():
    print(f'{value}')

one = 1
two = 2
three = 3

one=1
two=2
three=3

1
2
3

### processing dicts in sorted by keys

In [ ]:
people = dict([['Travis', 53],['Jen', 51],['Leo', 11],['Isaac', 16]])
people
for i, name in enumerate(sorted(people)):
    print(i + 1, name, people[name])

1 Isaac 16
2 Jen 51
3 Leo 11
4 Travis 53

# Python dictionaries

- literal
- build explicit
    - add
    - del
- build with code using `zip` and `dict`
- retrieving with `get` when default needed
    - easier with `collections.defaultdict`

## Counting Stuff Manually

- later we'll see that Python has a built-in facility for this already

In [ ]:
# create 100 random numbers (1-10)

# ignore this vvv:
numbers = [random.randint(1,10) for i in range(100)]
# ^^^

numbers = []
for i in range(100):
    numbers.append(random.randint(1,10))

print(numbers)

[3, 7, 3, 3, 6, 1, 4, 7, 7, 1, 1, 4, 1, 7, 1, 10, 8, 4, 9, 9, 4, 10, 1, 8, 4, 5, 3, 6, 8, 3, 8, 5, 4, 6, 3, 9, 10, 2, 3, 4, 9, 7, 5, 5, 8, 1, 1, 8, 3, 5, 5, 8, 1, 6, 7, 2, 6, 2, 9, 9, 4, 1, 8, 4, 6, 2, 3, 8, 10, 10, 10, 8, 5, 6, 3, 2, 8, 9, 1, 8, 4, 3, 7, 3, 3, 9, 9, 6, 3, 2, 8, 3, 6, 10, 8, 3, 2, 10, 4, 6]

In [ ]:

# create dict of counts for each number
counts = {}
for number in numbers:
    if number in counts:
        counts[number] = counts[number] + 1
    else:
        counts[number] = 1

print(sum(counts.values()))
counts

100

{3: 16, 7: 7, 6: 10, 1: 11, 4: 11, 10: 8, 8: 14, 9: 9, 5: 7, 2: 7}

### alternative approach using dict.get()

In [ ]:
counts = {}
for number in numbers:
    counts[number] = counts.get(number, 0) + 1

print(sum(counts.values()))
counts

100

{3: 16, 7: 7, 6: 10, 1: 11, 4: 11, 10: 8, 8: 14, 9: 9, 5: 7, 2: 7}